img {
    width: 100px;
}

main {
    margin-top: 150px;
}

.twin-title {
    position: relative;

}

.navbar {
    background-color: #b8b8f4;

}

h1 {
    font-size: 170px;
    font-weight: bold;
    color: rgb(247, 238, 238);
    margin-bottom: 0;
    line-height: 0.7;

}

h3 {
    position: absolute;
    top: 50%;
    font-weight: 700px;
    text-align: center;
    margin-left: 10px;
}

.location {
    overflow: hidden;
    width: 100%;
    position: relative;


}

.top-location {
    overflow: hidden;
    width: 80%;
    margin-left: 170px;
    position: relative;
    border: 2px solid #b8b8f4;
    opacity: 1;
}

.box-left {
    height: inherit;
    width: inherit;
    background-color: black;
    color: black;
    opacity: 0.5;
    transition: .7s;
    z-index: 2;
}

.box-left:hover {
    opacity: 0;
    transform: translateY(-150px);
}

/* .box-right {
    height: inherit;
    width: 600px;
    background-color: black;
    color: black;
    opacity: 0.5;
    transition: .7s;
    z-index: 3;
}

.box-right:hover {
    opacity: 0;
    transform: translateX(150px);
} */




.city-img {
    transition: 0.5s;
}

.city-img:hover {
    transform: scale(1.1);

}

.col:hover .big-title,
.go-link {
    transform: scale(1.1);
    opacity: 0.5;

}

.col:hover .go-link {
    opacity: 0.5;

}

.city-name {
    color: white;
    font-size: 30px;
    font-weight: 500;
    padding: 10px;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.big-title {
    position: absolute;
    bottom: 0;
    font-size: 200px;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 0.7;
    margin-left: -17px;
    overflow: hidden;
    color: #FF007F;
    opacity: 0;
    transition: 0.5s;
}

/* .big-title:hover {
    opacity: 0.5;

} */

.go-link {
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 50px;
    transition: 0.5s;
    opacity: 0;

}

/* .go-link:hover {
    opacity: 1;

} */

svg {

    background-color: #FF007F;

}

#subscrib {
    margin-top: 150px;
    height: 100px;
    background-color: #dadaf5;
}

.top-header {
    color: whitesmoke;
    text-shadow: 2px;
    text-shadow: 2px 2px 5px rgb(65, 71, 237);
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    text-align: center;
    margin-right: 700px;

}