
/* Travel page design */
.travel-h1{
    font-size: 75px;
    color: purple;
    text-shadow: 2px 2px 4px #000000;
    
}
.paragraph-h1{
  color: purple;
  text-shadow: 2px 2px 4px #000000;
}
.description-box{
  
  max-width: 1000px; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.container {
    position: relative;
    max-width: 1000px; /* Maximum width */
    margin: 0 auto; /* Center it */
  }
  
  .container .content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 97.3%; /* Full width */
    padding: 20px; /* Some padding */
  }
