@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

. {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.footer {
    background: rgb(41, 38, 38);
}

.footer .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer .box-container .box {
    padding: 1rem 0;
    flex: 1 1 25rem;
}

.footer .box-container .box h3 {
    font-size: 1.5rem;
    padding: .7rem 0;
    color: rgb(162, 241, 89);

}

.footer .box-container .box p {
    font-size: 1.5rem;
    padding: .7rem 0;
    color: #eee;
}

.footer .box-container .box a {
    display: block;
    font-size: 1.5rem;
    padding: .7rem 0;
    color: #eee;
}

.footer .box-container .box a {
    font-size: 1.5rem;
    padding: .7rem 0;
    color: #eee;
}

.footer .box-container .box a:hover {
    color: rgb(162, 241, 89);
    text-decoration: underline;
}

.footer .credit {
    text-align: center;
    padding: 2rem 1rem;
    margin-top: 1rem;
    font-size: 1.7rem;
    font-weight: normal;
    color: #fff;
    border-top: .1rem solid rgba(255, 255, 255, 2);

}

.footer .credit:hover {
    color: rgb(162, 241, 89);
}

.footer .credits {
    text-align: center;
    font-size: 1.7rem;
    font-weight: normal;
    color: #fff;


}

.footer .credits:hover {
    color: rgb(162, 241, 89);
}