#login-submit{
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}
#bg-design{
    background: linear-gradient(to bottom, #33ccff 0%, #3366cc 100%);
    color: beige;
    height: 55px;
    width: 200px;
    padding: 5px;
    
}