
.h1-design{
    /* color: brown; */
    /* color: blue; */
    text-shadow: 3px 3px 4px #000000;
}
/* .button-design{
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%); 
    background: linear-gradient(to bottom,  #0066ff 0%, #3399ff 100%);
}
#submit-button{
    background: linear-gradient(to bottom, #339966 0%, #00ff99 100%);
} */

/* #reg-h4-design{
     background: linear-gradient(to bottom, #339933 0%, #00cc66 100%);  
   background: linear-gradient(to bottom, #339966 0%, #00ff99 100%);
} */